# templates/orders/checkout.html
"""
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Checkout - EcommerceStore{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Checkout</h2>
    
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5>Shipping Information</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5>Order Summary</h5>
                </div>
                <div class="card-body">
                    {% for item in cart.items.all %}
                    <div class="d-flex justify-content-between mb-2">
                        <span>{{ item.product.name }} x {{ item.quantity }}</span>
                        <span>${{ item.get_total_price }}</span>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="d-flex justify-content-between">
                        <strong>Total:</strong>
                        <strong>Ksh{{ cart.get_total_price }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
"""